<div class="game">
  <div class="game-board">
    <div>
      <div *ngFor="let row of [0,1,2]" class="board-row">
        <button *ngFor="let col of [0,1,2]" class="square" (click)="squareClick((row*3) + col)">
          {{ board[((row*3) + col)] }}
        </button>
      </div>
    </div>
  </div>
  <div class="game-info">
    <div>{{ status() }}</div>
    <ol>
      <li *ngFor="let move of history index as idx" key={{move}>
        <button (click)="jumpTo(idx)">{{ idx === 0 ? 'Go to Game Start' : 'Jump to move ' + idx }}</button>
      </li>
    </ol>
  </div>
</div>

